<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="HRSystemConnection" 
         connectionString="Host=$(PGHOST);Port=$(PGPORT);Database=$(PGDATABASE);Username=$(PGUSER);Password=$(PGPASSWORD)"
         providerName="Npgsql" />
  </connectionStrings>
  
  <appSettings>
    <!-- General Settings -->
    <add key="ApplicationName" value="HR Management System" />
    <add key="CompanyName" value="" />
    <add key="SystemLanguage" value="ar-SA" />
    
    <!-- Log Settings -->
    <add key="LogFilePath" value="Logs" />
    <add key="EnableDebugLogging" value="false" />
    
    <!-- ZKTeco Settings -->
    <add key="ZKTecoSDKPath" value="ZKTecoSDK" />
    <add key="BiometricSyncInterval" value="5" /> <!-- In minutes -->
    
    <!-- Security Settings -->
    <add key="PasswordMinLength" value="8" />
    <add key="PasswordRequireDigit" value="true" />
    <add key="PasswordRequireUppercase" value="true" />
    <add key="PasswordRequireSpecialChar" value="true" />
    <add key="MaxFailedLoginAttempts" value="5" />
    <add key="AccountLockoutDuration" value="30" /> <!-- In minutes -->
    <add key="RememberMeDuration" value="7" /> <!-- In days -->
    
    <!-- UI Settings -->
    <add key="DefaultSkin" value="Office 2019 Colorful" />
    <add key="DefaultTheme" value="Default" />
    <add key="MainFormTitle" value="HR Management System" />
  </appSettings>
</configuration>
